body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-style: normal;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.navbar-nav .nav-link {
    transition: color 0.5s;
    color: rgba(0, 0, 0, 0.375) !important;
}

.navbar-nav .nav-link:hover {
    color: white !important;
}

.navbar-nav .nav-item {
    transition: background-color 0.5s, color 0.5s, border-radius 0.5s, border 0.5s;
    border: 2px solid transparent;
    /* Tambahkan border dalam gaya awal */
    border-radius: 5px;
}

.navbar-nav .nav-item:hover {
    background-color: #007BFF;
    /* Ubah warna latar belakang pada hover */
    border-radius: 15px;
    border: 2px solid transparent;
}

.navbar-nav .nav-item.active {
    background-color: #007BFF;
    border-radius: 15px;
    border: 2px solid transparent;
}

.navbar-nav .nav-link.active {
    text-decoration: none !important;
    color: white !important;
}


.img {
    width: 500px;
    float: right;
    filter: drop-shadow(8px 11px 36px #66666669);
    -webkit-filter: drop-shadow(8px 11px 36px #66666669);
    filter: brightness(120%);
}

.img2 {
    width: 448px;
    float: right;
    filter: drop-shadow(8px 11px 36px #66666669);
    -webkit-filter: drop-shadow(8px 11px 36px #66666669);
    filter: brightness(125%);
}

.img-icon {
    position: absolute;

}

.icon-1 {
    width: 135px;
    bottom: 120px;
    left: 20px;
    filter: drop-shadow(-7.5px 10px 30px #0d6efdc1) brightness(150%);
}


.icon-2 {
    width: 150px;
    animation-delay: 1s;
    bottom: 0px;
    right: 10px;
    filter: drop-shadow(-7.5px 10px 30px #ffc107c1) brightness(150%);
}

.icon-3 {
    width: 150px;
    animation-delay: 2s;
    top: 100px;
    right: 20px;
    filter: drop-shadow(-7.5px 10px 30px #fd7d14c1) brightness(150%);
}

.animate__shakeY {
    animation-duration: 50s;
    transform-origin: center;
}

.text-greeting {
    font-size: 42px;
    margin-top: 50px;
}

.text-describe {
    font-size: 60px;
}

.intro-page {
    margin-top: 60px;
}

.oddSection {
    background: #F8F9FD;
}

